html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #323232;
  font-size: 15px;
  font-weight: 400; }

p, h4, h3 {
  margin: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

.btn:focus {
  box-shadow: none; }

.btn-black, .btn-white, .btn-grey, .btn-grey-small {
  text-transform: uppercase; }

.btn-black {
  color: #fff;
  background-color: #222;
  padding: 15px 30px;
  border: 1px solid transparent;
  transition: all .5s; }
  .btn-black:hover {
    color: #fff;
    background-color: #d6b161; }

.btn-white {
  color: #222;
  background-color: #fff;
  padding: 15px 30px;
  border: 1px solid #222;
  transition: all .5s; }
  .btn-white:hover {
    color: #fff;
    background-color: #222; }

.btn-grey {
  color: #fff;
  background-color: #4e4e4e;
  padding: 15px 30px;
  border: 1px solid transparent;
  transition: all .5s; }
  .btn-grey:hover {
    color: #fff;
    background-color: #d6b161; }

.btn-grey-small {
  color: #fff;
  background-color: #4e4e4e;
  padding: 10px 30px -10;
  border: 1px solid transparent;
  transition: all .5s; }
  .btn-grey-small:hover {
    color: #fff;
    background-color: #d6b161; }

.item__hover {
  opacity: 0;
  transition: all .5s;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 20px solid #a9a8a8;
  text-align: center; }

.title {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 100px;
  padding-bottom: 30px;
  text-transform: uppercase; }

.subTitle {
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 100px; }

.title, .subTitle {
  text-align: center; }

header {
  position: fixed;
  z-index: 9998;
  width: 100%;
  transition: all .5s; }
  header .navbar {
    padding: 0 1rem; }
    header .navbar .logo img {
      height: 100px; }
    header .navbar .nav__content {
      justify-content: flex-end; }
      header .navbar .nav__content .nav-link {
        color: #333;
        font-size: 13px;
        font-weight: 400; }
      header .navbar .nav__content .nav-item.active .nav-link {
        color: #d6b161;
        font-size: 13px;
        font-weight: 400; }

.carousel {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif; }
  .carousel .carousel__text {
    top: 40%;
    text-align: left; }
    .carousel .carousel__text h2 {
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 30px;
      color: #333;
      font-size: 36px;
      font-weight: 400; }
      .carousel .carousel__text h2 span {
        color: #333;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
        display: inline-block; }
    .carousel .carousel__text p {
      color: #7e7e7e;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px; }
  .carousel .carousel__text3 {
    top: 40%;
    text-align: left; }
    .carousel .carousel__text3 h2 {
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 30px;
      color: #fff;
      font-size: 36px;
      font-weight: 400; }
      .carousel .carousel__text3 h2 span {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
        display: inline-block; }
    .carousel .carousel__text3 p {
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px; }
  .carousel .carousel-indicators {
    bottom: 15%; }
    .carousel .carousel-indicators li {
      height: 10px;
      width: 10px;
      border-radius: 50%; }
  .carousel .carousel-control-prev {
    cursor: url("../img/arrow_left.png"), auto; }
    .carousel .carousel-control-prev .carousel-control-prev-icon {
      display: none; }
  .carousel .carousel-control-next {
    cursor: url("../img/arrow_right.png"), auto; }
    .carousel .carousel-control-next .carousel-control-next-icon {
      display: none; }

.about {
  padding-bottom: 60px; }
  .about .mySkill .skill__item:hover span {
    background-color: #d6b161; }
  .about .mySkill .skill__item .item__detail {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    position: relative;
    padding: 30px; }
  .about .mySkill .skill__item h4 {
    text-transform: uppercase;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0; }
  .about .mySkill .skill__item p {
    margin: 0;
    color: #7e7e7e; }
  .about .mySkill .skill__item .showLogo {
    position: absolute;
    top: -30px;
    left: 30px; }
  .about .mySkill .skill__item span {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .about .mySkill .skill__item i {
    color: #fff;
    font-size: 24px;
    font-weight: 700; }

.myExperience .content {
  background-image: url("../img/bgSkill.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .myExperience .content .content__left {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .myExperience .content .content__left h3 {
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 6px;
      display: block;
      align-self: center; }
  .myExperience .content .content__right {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px; }
    .myExperience .content .content__right h4 {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 30px; }
    .myExperience .content .content__right p {
      color: #fff;
      font-size: 15px;
      font-weight: 400; }
    .myExperience .content .content__right .wapperBar {
      width: 80%; }
      .myExperience .content .content__right .wapperBar .bar .processBar {
        height: 20px;
        width: 100%;
        background-color: #606060;
        position: relative; }
      .myExperience .content .content__right .wapperBar .bar .skillBar {
        height: 20px;
        width: 20%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        transition: all 1s; }
      .myExperience .content .content__right .wapperBar .bar .skillText {
        text-transform: uppercase;
        color: #222;
        font-size: 10px;
        font-weight: 400;
        padding-left: 10px; }
      .myExperience .content .content__right .wapperBar .bar .numberProcessBar {
        width: 20%;
        text-align: right;
        padding-bottom: 5px;
        transition: all 1s; }
      .myExperience .content .content__right .wapperBar .bar .skillNumber {
        background-color: #a4a4a4;
        position: relative;
        padding: 4px 8px;
        border-radius: 10px;
        color: #222;
        font-size: 10px;
        font-weight: 400; }
      .myExperience .content .content__right .wapperBar .bar .numberProcessBar__footer {
        height: 5px;
        width: 5px;
        background-color: #a4a4a4;
        position: absolute;
        bottom: -2px;
        left: 40%;
        transform: rotate(45deg); }

.myTeam {
  background-color: #f5f5f5;
  padding-bottom: 100px; }
  .myTeam .myTeam__content .content__item .item__img {
    position: relative; }
    .myTeam .myTeam__content .content__item .item__img:hover .item__hover {
      opacity: 1; }
      .myTeam .myTeam__content .content__item .item__img:hover .item__hover .content__top, .myTeam .myTeam__content .content__item .item__img:hover .item__hover .content__bottom {
        transform: translateY(0); }
    .myTeam .myTeam__content .content__item .item__img img {
      width: 100%; }
    .myTeam .myTeam__content .content__item .item__img .item__title {
      text-align: right;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      right: 0;
      bottom: 25px;
      padding: 10px 30px 10px 100px; }
      .myTeam .myTeam__content .content__item .item__img .item__title p {
        margin: 0;
        text-transform: uppercase; }
      .myTeam .myTeam__content .content__item .item__img .item__title .title__name {
        color: #fff;
        font-size: 15px;
        font-weight: 400; }
      .myTeam .myTeam__content .content__item .item__img .item__title .title__job {
        color: #7e7e7e;
        font-size: 15px;
        font-weight: 400; }
    .myTeam .myTeam__content .content__item .item__img .content__top {
      transform: translateY(-50px);
      transition: all .5s;
      position: relative; }
      .myTeam .myTeam__content .content__item .item__img .content__top .top__title {
        color: #222;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 60px 0; }
      .myTeam .myTeam__content .content__item .item__img .content__top .top__text {
        color: #7e7e7e;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px; }
    .myTeam .myTeam__content .content__item .item__img .content__bottom {
      transform: translateY(50px);
      padding-top: 120px;
      transition: all .5s; }
      .myTeam .myTeam__content .content__item .item__img .content__bottom i {
        color: #323232;
        font-size: 18px;
        font-weight: 400;
        padding: 0 10px; }

.myPortfolio__content .nav-tabs {
  border: none; }
  .myPortfolio__content .nav-tabs .nav-item .nav-link {
    border: none;
    text-transform: uppercase;
    color: #a9a8a8;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all .5s; }
    .myPortfolio__content .nav-tabs .nav-item .nav-link:hover {
      color: #323232;
      font-size: 15px;
      font-weight: 400; }
  .myPortfolio__content .nav-tabs .nav-item .nav-link.active {
    color: #323232;
    font-size: 15px;
    font-weight: 400; }
.myPortfolio__content .tab__content {
  padding: 0 10px;
  padding-top: 60px; }
  .myPortfolio__content .tab__content .content__item {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px; }
    .myPortfolio__content .tab__content .content__item .item__img {
      position: relative; }
      .myPortfolio__content .tab__content .content__item .item__img:hover .item__hover {
        opacity: 1;
        border-color: rgba(0, 0, 0, 0.1); }
        .myPortfolio__content .tab__content .content__item .item__img:hover .item__hover .hover__top, .myPortfolio__content .tab__content .content__item .item__img:hover .item__hover .hover__bottom {
          transform: translateY(0); }
    .myPortfolio__content .tab__content .content__item img {
      width: 100%; }
    .myPortfolio__content .tab__content .content__item .text__hover {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #222;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      transition: all .5s; }
      .myPortfolio__content .tab__content .content__item .text__hover:hover {
        text-decoration: none;
        color: #d6b161; }
    .myPortfolio__content .tab__content .content__item .subText {
      color: #757575;
      font-size: 13px;
      font-weight: 400;
      padding-top: 10px;
      display: inline-block; }
    .myPortfolio__content .tab__content .content__item .porfolio__logo {
      color: #333;
      font-size: 36px;
      font-weight: 400;
      padding: 40px 0 20px 0;
      display: block; }
    .myPortfolio__content .tab__content .content__item .hover__top {
      transform: translateY(-20px);
      transition: all .5s; }
    .myPortfolio__content .tab__content .content__item .hover__bottom {
      transform: translateY(20px);
      transition: all .5s; }

.banner {
  background-color: #222;
  text-transform: uppercase;
  padding: 60px 0; }
  .banner .content__detail p {
    color: #fff;
    font-size: 15px;
    font-weight: 400; }
  .banner .content__detail h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 400; }
    .banner .content__detail h3 span {
      color: #d6b161;
      font-size: 24px;
      font-weight: 400; }

.services {
  padding-bottom: 100px; }
  .services .wapper {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .services .item__detail {
    padding: 50px;
    border: 1px solid #f2f2f2;
    transition: all .5s; }
    .services .item__detail:hover {
      background-color: #222; }
      .services .item__detail:hover .item__icon {
        color: #d6b161;
        font-size: 36px;
        font-weight: 400; }
      .services .item__detail:hover h4 {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase; }
    .services .item__detail .item__icon {
      color: #333;
      font-size: 36px;
      font-weight: 400;
      padding-bottom: 15px;
      transition: all .5s; }
    .services .item__detail .subTitle {
      padding-bottom: 0;
      padding-top: 20px; }
    .services .item__detail h4 {
      color: #333;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      transition: all .5s; }

.slogan {
  background-image: url("./../img/bgSlogan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .slogan .slogan__content {
    position: relative;
    padding-top: 60px; }
    .slogan .slogan__content .item__img {
      padding-right: 60px; }
      .slogan .slogan__content .item__img img {
        width: 100%; }
    .slogan .slogan__content .item__text {
      display: flex;
      align-items: center; }
      .slogan .slogan__content .item__text h4 {
        color: #d6b161;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 30px; }
      .slogan .slogan__content .item__text p {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        font-style: italic;
        line-height: 30px;
        padding-bottom: 30px; }
      .slogan .slogan__content .item__text .item__btn span {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px; }
  .slogan .owl-dots {
    justify-content: end;
    position: absolute;
    bottom: 20px;
    right: 0; }

.feature .feature__content .content__wapper {
  padding-left: 0;
  padding-right: 0; }
.feature .feature__content .item__detail {
  padding: 0 30px;
  padding-bottom: 50px; }
  .feature .feature__content .item__detail .item__number {
    color: #e1e1e1;
    font-size: 36px;
    font-weight: 400; }
  .feature .feature__content .item__detail .item__name {
    text-transform: uppercase;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px; }
  .feature .feature__content .item__detail .item__text {
    color: #7e7e7e;
    font-size: 15px;
    font-weight: 400; }
  .feature .feature__content .item__detail .btn-black {
    margin-right: 20px; }
.feature .feature__content .content__img {
  padding: 0 30px; }
  .feature .feature__content .content__img img {
    width: 100%; }

.number {
  background-image: url("../img/bgNumber.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0; }
  .number .item__detail {
    display: flex;
    align-items: center;
    padding: 100px 0; }
    .number .item__detail .detail__icon {
      position: relative; }
      .number .item__detail .detail__icon i {
        color: #fff;
        font-size: 36px;
        font-weight: 400;
        padding-right: 60px; }
      .number .item__detail .detail__icon::before {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 100%;
        background-color: white;
        transform: rotate(120deg);
        margin-left: 30px;
        right: -20%;
        top: 70%; }
    .number .item__detail .detail__text .detail__number {
      color: #fff;
      font-size: 36px;
      font-weight: 400; }
    .number .item__detail .detail__text .detail__name {
      text-transform: uppercase;
      color: #fff;
      font-size: 15px;
      font-weight: 400; }

.blog .blog__content .wapper__item {
  padding-left: 0;
  padding-right: 0; }
.blog .blog__content .content__item {
  position: relative; }
  .blog .blog__content .content__item .item__text {
    padding: 80px 40px; }
    .blog .blog__content .content__item .item__text .text__top {
      position: relative; }
      .blog .blog__content .content__item .item__text .text__top::before {
        content: '';
        height: 1px;
        width: 100px;
        background-color: #333;
        position: absolute;
        top: 15px;
        left: 0; }
    .blog .blog__content .content__item .item__text .text__title {
      padding-top: 25px;
      padding-bottom: 30px; }
      .blog .blog__content .content__item .item__text .text__title a {
        color: #222;
        font-size: 18px;
        font-weight: 400;
        transition: all .5s; }
        .blog .blog__content .content__item .item__text .text__title a:hover {
          text-decoration: none;
          color: #d6b161;
          font-size: 18px;
          font-weight: 400; }
    .blog .blog__content .content__item .item__text span a {
      text-transform: uppercase;
      color: #909090;
      font-size: 12px;
      font-weight: 400;
      padding-right: 10px;
      transition: all .5s; }
      .blog .blog__content .content__item .item__text span a:hover {
        color: #d6b161;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none; }
  .blog .blog__content .content__item img {
    width: 100%;
    display: block; }
  .blog .blog__content .content__item .item__footer {
    height: 15px;
    width: 15px;
    background-color: #fff;
    position: absolute;
    bottom: -7px;
    left: 50%;
    right: 50%;
    transform: rotate(45deg); }
  .blog .blog__content .content__item .item__top {
    height: 15px;
    width: 15px;
    background-color: #fff;
    position: absolute;
    top: -7px;
    left: 50%;
    right: 50%;
    transform: rotate(45deg); }
.blog .blog__content .blog__link {
  padding-top: 50px; }
  .blog .blog__content .blog__link .link__text {
    color: #bbb;
    font-size: 15px;
    font-weight: 400;
    transition: all .5s;
    letter-spacing: 2px; }
    .blog .blog__content .blog__link .link__text:hover {
      color: #222;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none; }

.comment {
  padding: 100px 0;
  padding-bottom: 0; }
  .comment .comment__wapper {
    background-image: url("../img/bgComment.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0; }
    .comment .comment__wapper .comment__content {
      width: 60%;
      margin: 0 auto; }
      .comment .comment__wapper .comment__content .comment__img {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        margin-bottom: 50px; }
        .comment .comment__wapper .comment__content .comment__img img {
          width: 100%;
          display: block;
          border-radius: 50%; }
      .comment .comment__wapper .comment__content .comment__text {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        font-style: italic; }
      .comment .comment__wapper .comment__content .comment__name {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 10px;
        letter-spacing: 2px; }
      .comment .comment__wapper .comment__content .comment__job {
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        font-weight: 400; }
    .comment .comment__wapper .owl-dots {
      padding-top: 20px; }

.videoDemo .video {
  margin: 0 auto;
  width: 40%;
  padding-bottom: 130px; }
  .videoDemo .video iframe {
    width: 100%; }

.news .news__wapper {
  padding-left: 0;
  padding-right: 0; }
.news .news__item {
  position: relative; }
  .news .news__item img {
    width: 100%;
    display: block; }
  .news .news__item .news__text {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%; }
    .news .news__item .news__text .item__title {
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase; }
    .news .news__item .news__text .item__link {
      text-transform: uppercase;
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      padding-bottom: 30px;
      display: inline-block; }
      .news .news__item .news__text .item__link:hover {
        text-decoration: none; }
    .news .news__item .news__text .item__detail {
      color: #fff;
      font-size: 15px;
      font-weight: 400; }

.priceTable .btn {
  border-radius: 0; }
.priceTable .priceTable__content {
  text-align: center; }
  .priceTable .priceTable__content .item__detail {
    border: 1px solid #e8e8e8;
    padding: 50px; }
    .priceTable .priceTable__content .item__detail .item__title {
      color: #333;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 2px;
      padding-bottom: 30px; }
    .priceTable .priceTable__content .item__detail .price {
      padding: 25px 0;
      margin-bottom: 40px;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5; }
      .priceTable .priceTable__content .item__detail .price .item__money {
        color: #333;
        font-size: 36px;
        font-weight: 400; }
        .priceTable .priceTable__content .item__detail .price .item__money span {
          color: #333;
          font-size: 16px;
          font-weight: 400; }
      .priceTable .priceTable__content .item__detail .price .item__time {
        color: #333;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase; }
    .priceTable .priceTable__content .item__detail .item__list {
      list-style: none;
      padding-inline-start: 0; }
      .priceTable .priceTable__content .item__detail .item__list li {
        padding-bottom: 15px; }
  .priceTable .priceTable__content .detail__center {
    background-color: #222;
    border: 1px solid #222; }
    .priceTable .priceTable__content .detail__center .item__title {
      color: #d6b161;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 2px;
      padding-bottom: 30px; }
    .priceTable .priceTable__content .detail__center .price {
      padding: 25px 0;
      margin-bottom: 40px;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5; }
      .priceTable .priceTable__content .detail__center .price .item__money {
        color: #fff;
        font-size: 36px;
        font-weight: 400; }
        .priceTable .priceTable__content .detail__center .price .item__money span {
          color: #fff;
          font-size: 16px;
          font-weight: 400; }
      .priceTable .priceTable__content .detail__center .price .item__time {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase; }
    .priceTable .priceTable__content .detail__center .item__list {
      list-style: none;
      padding-inline-start: 0; }
      .priceTable .priceTable__content .detail__center .item__list li {
        padding-bottom: 15px;
        color: #fff;
        font-size: 15px;
        font-weight: 400; }
    .priceTable .priceTable__content .detail__center .btn-white:hover {
      background-color: #d6b161; }

.subscribe {
  margin-top: 100px;
  padding-bottom: 100px;
  background-color: #f8f8f8; }
  .subscribe .title {
    color: #d6b161;
    padding-bottom: 10px; }
  .subscribe .subTitle {
    padding-bottom: 50px; }
  .subscribe .subscribe__form {
    width: 40%;
    margin: 0 auto; }
    .subscribe .subscribe__form .form-control.form__input {
      padding: 28px 15px;
      display: inline-block;
      border: none; }
      .subscribe .subscribe__form .form-control.form__input:focus {
        box-shadow: none; }

.contact {
  padding-top: 100px; }
  .contact .contact__content {
    background-image: url("../img/bgContact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .contact .contact__content .contact__detail {
      padding: 150px 0; }
    .contact .contact__content .detail__icon i {
      color: #fff;
      font-size: 36px;
      font-weight: 400; }
    .contact .contact__content .detail__title {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 30px 0 20px 0; }
    .contact .contact__content .detail__text {
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 1px; }

.contactForm {
  padding-bottom: 100px; }
  .contactForm .btn-black {
    margin-top: 6px;
    padding: 5.5px 20px;
    width: 100%; }

.footer {
  background-color: #f8f8f8; }
  .footer .subTitle {
    color: #222;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 0; }
  .footer .footer__icon {
    padding: 80px 0; }
    .footer .footer__icon a {
      color: #333;
      font-size: 24px;
      font-weight: 400;
      height: 40px;
      width: 40px;
      border: 1px solid #333;
      display: inline-block;
      line-height: 40px;
      border-radius: 50%;
      margin: 0 10px;
      transition: all .5s; }
      .footer .footer__icon a:hover {
        color: #fff;
        background-color: #333; }
  .footer .footer__text {
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 80px; }

/*# sourceMappingURL=index.css.map */
