html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #323232;
  font-size: 15px;
  font-weight: 400; }

p, h4 {
  margin: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

.btn-black {
  color: #fff;
  background-color: #222;
  padding: 15px 30px;
  border: 1px solid transparent;
  transition: all .5s; }
  .btn-black:hover {
    color: #fff;
    background-color: #d6b161; }

.btn-white {
  color: #222;
  background-color: #fff;
  padding: 15px 30px;
  border: 1px solid #222;
  transition: all .5s; }
  .btn-white:hover {
    color: #fff;
    background-color: #222; }

.btn-grey {
  color: #fff;
  background-color: #4e4e4e;
  padding: 15px 30px;
  border: 1px solid transparent;
  transition: all .5s; }
  .btn-grey:hover {
    color: #fff;
    background-color: #d6b161; }

.btn-grey-small {
  color: #fff;
  background-color: #4e4e4e;
  padding: 10px 30px -10;
  border: 1px solid transparent;
  transition: all .5s; }
  .btn-grey-small:hover {
    color: #fff;
    background-color: #d6b161; }

.item__hover {
  opacity: 0;
  transition: all .5s;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 20px solid #a9a8a8;
  text-align: center; }

.title {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 100px;
  padding-bottom: 30px;
  text-transform: uppercase; }

.subTitle {
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 100px; }

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: all .5s; }
  header .navbar {
    padding: 0 1rem; }
    header .navbar .logo img {
      height: 100px; }
    header .navbar .nav__content {
      justify-content: flex-end; }
      header .navbar .nav__content .nav-link {
        color: #333;
        font-size: 13px;
        font-weight: 400; }
      header .navbar .nav__content .nav-item.active .nav-link {
        color: #d6b161;
        font-size: 13px;
        font-weight: 400; }

.carousel {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif; }
  .carousel .carousel__text {
    top: 40%;
    text-align: left; }
    .carousel .carousel__text h2 {
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 30px;
      color: #333;
      font-size: 36px;
      font-weight: 400; }
      .carousel .carousel__text h2 span {
        color: #333;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
        display: inline-block; }
    .carousel .carousel__text p {
      color: #7e7e7e;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px; }
  .carousel .carousel__text3 {
    top: 40%;
    text-align: left; }
    .carousel .carousel__text3 h2 {
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 30px;
      color: #fff;
      font-size: 36px;
      font-weight: 400; }
      .carousel .carousel__text3 h2 span {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
        display: inline-block; }
    .carousel .carousel__text3 p {
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px; }
  .carousel .carousel-indicators {
    bottom: 15%; }
    .carousel .carousel-indicators li {
      height: 10px;
      width: 10px;
      border-radius: 50%; }
  .carousel .carousel-control-prev {
    cursor: url("../img/arrow_left.png"), auto; }
    .carousel .carousel-control-prev .carousel-control-prev-icon {
      display: none; }
  .carousel .carousel-control-next {
    cursor: url("../img/arrow_right.png"), auto; }
    .carousel .carousel-control-next .carousel-control-next-icon {
      display: none; }

.about {
  padding-bottom: 60px; }
  .about .mySkill .skill__item:hover span {
    background-color: #d6b161; }
  .about .mySkill .skill__item .item__detail {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    position: relative;
    padding: 30px; }
  .about .mySkill .skill__item h4 {
    text-transform: uppercase;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0; }
  .about .mySkill .skill__item p {
    margin: 0;
    color: #7e7e7e; }
  .about .mySkill .skill__item .showLogo {
    position: absolute;
    top: -30px;
    left: 30px; }
  .about .mySkill .skill__item span {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .about .mySkill .skill__item i {
    color: #fff;
    font-size: 24px;
    font-weight: 700; }

.myExperience .content {
  background-image: url("../img/bgSkill.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .myExperience .content .content__left {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .myExperience .content .content__left h3 {
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 6px;
      display: block;
      align-self: center; }
  .myExperience .content .content__right {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px; }
    .myExperience .content .content__right h4 {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 30px; }
    .myExperience .content .content__right p {
      color: #fff;
      font-size: 15px;
      font-weight: 400; }
    .myExperience .content .content__right .wapperBar {
      width: 80%; }
      .myExperience .content .content__right .wapperBar .bar .processBar {
        height: 20px;
        width: 100%;
        background-color: #606060;
        position: relative; }
      .myExperience .content .content__right .wapperBar .bar .skillBar {
        height: 20px;
        width: 20%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        transition: all 1s; }
      .myExperience .content .content__right .wapperBar .bar .skillText {
        text-transform: uppercase;
        color: #222;
        font-size: 10px;
        font-weight: 400;
        padding-left: 10px; }
      .myExperience .content .content__right .wapperBar .bar .numberProcessBar {
        width: 20%;
        text-align: right;
        padding-bottom: 5px;
        transition: all 1s; }
      .myExperience .content .content__right .wapperBar .bar .skillNumber {
        background-color: #a4a4a4;
        position: relative;
        padding: 4px 8px;
        border-radius: 10px;
        color: #222;
        font-size: 10px;
        font-weight: 400; }
      .myExperience .content .content__right .wapperBar .bar .numberProcessBar__footer {
        height: 5px;
        width: 5px;
        background-color: #a4a4a4;
        position: absolute;
        bottom: -2px;
        left: 40%;
        transform: rotate(45deg); }

.myTeam {
  background-color: #f5f5f5;
  padding-bottom: 100px; }
  .myTeam .myTeam__content .content__item .item__img {
    position: relative; }
    .myTeam .myTeam__content .content__item .item__img:hover .item__hover {
      opacity: 1; }
      .myTeam .myTeam__content .content__item .item__img:hover .item__hover .content__top, .myTeam .myTeam__content .content__item .item__img:hover .item__hover .content__bottom {
        transform: translateY(0); }
    .myTeam .myTeam__content .content__item .item__img img {
      width: 100%; }
    .myTeam .myTeam__content .content__item .item__img .item__title {
      text-align: right;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      right: 0;
      bottom: 25px;
      padding: 10px 30px 10px 100px; }
      .myTeam .myTeam__content .content__item .item__img .item__title p {
        margin: 0;
        text-transform: uppercase; }
      .myTeam .myTeam__content .content__item .item__img .item__title .title__name {
        color: #fff;
        font-size: 15px;
        font-weight: 400; }
      .myTeam .myTeam__content .content__item .item__img .item__title .title__job {
        color: #7e7e7e;
        font-size: 15px;
        font-weight: 400; }
    .myTeam .myTeam__content .content__item .item__img .content__top {
      transform: translateY(-50px);
      transition: all .5s;
      position: relative; }
      .myTeam .myTeam__content .content__item .item__img .content__top .top__title {
        color: #222;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 60px 0; }
      .myTeam .myTeam__content .content__item .item__img .content__top .top__text {
        color: #7e7e7e;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px; }
    .myTeam .myTeam__content .content__item .item__img .content__bottom {
      transform: translateY(50px);
      padding-top: 120px;
      transition: all .5s; }
      .myTeam .myTeam__content .content__item .item__img .content__bottom i {
        color: #323232;
        font-size: 18px;
        font-weight: 400;
        padding: 0 10px; }

.myPortfolio__content .nav-tabs {
  border: none; }
  .myPortfolio__content .nav-tabs .nav-item .nav-link {
    border: none;
    text-transform: uppercase;
    color: #a9a8a8;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all .5s; }
    .myPortfolio__content .nav-tabs .nav-item .nav-link:hover {
      color: #323232;
      font-size: 15px;
      font-weight: 400; }
  .myPortfolio__content .nav-tabs .nav-item .nav-link.active {
    color: #323232;
    font-size: 15px;
    font-weight: 400; }
.myPortfolio__content .tab__content {
  padding: 0 10px;
  padding-top: 10px; }
  .myPortfolio__content .tab__content .content__item .item__img {
    background-color: red;
    position: relative; }
    .myPortfolio__content .tab__content .content__item .item__img:hover .item__hover {
      opacity: 1;
      border-color: rgba(0, 0, 0, 0.1); }
  .myPortfolio__content .tab__content .content__item img {
    width: 100%; }

/*# sourceMappingURL=index.css.map */
