html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #323232;
  font-size: 15px;
  font-weight: 400; }

.row {
  margin-left: 0;
  margin-right: 0; }

.btn-black {
  color: #fff;
  background-color: #222;
  padding: 15px 30px;
  border: 1px solid transparent;
  transition: all .5s; }
  .btn-black:hover {
    color: #fff;
    background-color: #d6b161; }

.btn-white {
  color: #222;
  background-color: #fff;
  padding: 15px 30px;
  border: 1px solid #222;
  transition: all .5s; }
  .btn-white:hover {
    color: #fff;
    background-color: #222; }

.btn-grey {
  color: #fff;
  background-color: #4e4e4e;
  padding: 15px 30px;
  border: 1px solid transparent;
  transition: all .5s; }
  .btn-grey:hover {
    color: #fff;
    background-color: #d6b161; }

.btn-grey-small {
  color: #fff;
  background-color: #4e4e4e;
  padding: 10px 30px -10;
  border: 1px solid transparent;
  transition: all .5s; }
  .btn-grey-small:hover {
    color: #fff;
    background-color: #d6b161; }

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: all .5s; }
  header .navbar {
    padding: 0 1rem; }
    header .navbar .logo img {
      height: 100px; }
    header .navbar .nav__content {
      justify-content: flex-end; }
      header .navbar .nav__content .nav-link {
        color: #333;
        font-size: 13px;
        font-weight: 400; }
      header .navbar .nav__content .nav-item.active .nav-link {
        color: #d6b161;
        font-size: 13px;
        font-weight: 400; }

.carousel {
  width: 100%; }
  .carousel .item__detail img {
    position: relative;
    width: 100%; }
  .carousel .item__detail .detail__text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    transition: all .5s; }
    .carousel .item__detail .detail__text h2 {
      text-transform: uppercase;
      padding-bottom: 30px; }
      .carousel .item__detail .detail__text h2 span {
        color: #323232;
        font-size: 18px;
        font-weight: 400; }
    .carousel .item__detail .detail__text p {
      line-height: 30px; }
  .carousel .item__detail .detail__text3 {
    color: #fff; }
    .carousel .item__detail .detail__text3 h2 {
      padding-bottom: 30px; }
      .carousel .item__detail .detail__text3 h2 span {
        color: #fff;
        font-size: 18px;
        font-weight: 400; }
  .carousel .carousel__btnPrev {
    background-color: red;
    display: block;
    width: 40%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 0;
    opacity: 0; }
    .carousel .carousel__btnPrev:hover {
      cursor: url("../img/arrow_left.png"), auto; }
  .carousel .carousel__btnNext {
    background-color: red;
    display: block;
    width: 40%;
    height: 50%;
    position: absolute;
    top: 20%;
    right: 0;
    opacity: 0; }
    .carousel .carousel__btnNext:hover {
      cursor: url("../img/arrow_right.png"), auto; }
  .carousel .owl-theme .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 20%; }
    .carousel .owl-theme .owl-dots button {
      background-color: transparent;
      height: 10px;
      width: 10px;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0 3px; }
      .carousel .owl-theme .owl-dots button span {
        display: none; }
  .carousel .owl-theme button.active {
    background-color: #fff; }

.about {
  padding: 60px 0; }
  .about .content__detailText h2 {
    color: #333;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase; }
  .about .content__detailText p {
    color: #7e7e7e;
    padding: 30px 0 60px 0; }
  .about .mySkill .skill__item:hover span {
    background-color: #d6b161; }
  .about .mySkill .skill__item .item__detail {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    position: relative;
    padding: 30px; }
  .about .mySkill .skill__item h4 {
    text-transform: uppercase;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0; }
  .about .mySkill .skill__item p {
    margin: 0;
    color: #7e7e7e; }
  .about .mySkill .skill__item .showLogo {
    position: absolute;
    top: -30px;
    left: 30px; }
  .about .mySkill .skill__item span {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .about .mySkill .skill__item i {
    color: #fff;
    font-size: 24px;
    font-weight: 700; }

.myExperience {
  padding: 10px 0; }
  .myExperience .content {
    background-image: url("../img/bgSkill.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .myExperience .content .content__left {
      height: 500px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .myExperience .content .content__left h3 {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 6px;
        display: block;
        align-self: center; }
    .myExperience .content .content__right {
      height: 500px;
      background-color: rgba(0, 0, 0, 0.5);
      padding-top: 100px;
      padding-left: 60px;
      padding-right: 60px; }
      .myExperience .content .content__right h4 {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 30px; }
      .myExperience .content .content__right p {
        color: #fff;
        font-size: 15px;
        font-weight: 400; }
      .myExperience .content .content__right .skillBar {
        width: 500px; }
        .myExperience .content .content__right .skillBar .barProcess {
          height: 20px;
          width: 100%;
          background-color: #606060;
          position: relative; }
          .myExperience .content .content__right .skillBar .barProcess::before {
            content: "";
            width: 0;
            height: 100%;
            display: block;
            background-color: #fff; }
        .myExperience .content .content__right .skillBar .numberProcess {
          width: 0;
          text-align: right;
          transition: all .5s; }
          .myExperience .content .content__right .skillBar .numberProcess span {
            color: #222;
            background-color: #a4a4a4;
            position: relative; }
            .myExperience .content .content__right .skillBar .numberProcess span::after {
              content: "";
              height: 5px;
              width: 5px;
              background-color: #a4a4a4;
              bottom: -2px;
              display: block;
              left: 40%;
              transform: rotate(45deg);
              position: absolute; }
        .myExperience .content .content__right .skillBar .barCol::before {
          content: "HTML / CSS / JQUERY";
          width: 80%; }
        .myExperience .content .content__right .skillBar .numberSkill {
          width: 80%; }
        .myExperience .content .content__right .skillBar .barCol2::before {
          content: "PHOTOSHOP";
          width: 90%; }
        .myExperience .content .content__right .skillBar .numberSkill2 {
          width: 90%; }
        .myExperience .content .content__right .skillBar .barCol3::before {
          content: "GRAPHIC DESIGN";
          width: 75%; }
        .myExperience .content .content__right .skillBar .numberSkill3 {
          width: 75%; }

/*# sourceMappingURL=index.css.map */
