@mixin createButton($color,$bg,$paddingY,$paddingX,$border-color){
    color: $color;
    background-color: $bg;
    padding: $paddingY $paddingX;
    border: 1px solid $border-color;
    transition: all .5s;
}

@mixin text($color,$fs,$fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin mediaQuery($breakpoints){
    @if map-has-key($map: $breakpoints, $key: $breakpoint){
        $value: map-get($map: $breakpoints, $key: $breakpoint);
        @media screen and (max-width: $value) {
            @content;
        }
    }
    @else{
        @warn("kich thuoc man hinh khong ton tai");
    }
}