// color
$color-white-1: #fff;
$color-white-2: rgba(255, 255, 255, .9);
$color-white-3: #f5f5f5;

$color-black-1: #333;
$color-black-2: #222;
$color-black-3: rgba(0, 0, 0, .7);
$color-black-5: rgba(0, 0, 0, .1);
$color-black-6: #323232; // default

$color-yellow-1: #d6b161;

$color-grey-1: #7e7e7e;
$color-grey-2: #a4a4a4;
$color-grey-3: rgb(78, 78, 78); // btn grey
$color-grey-4: rgba(78, 78, 78, .5);
$color-grey-5: #a9a8a8;
$color-grey-6: #e1e1e1;
$color-grey-7: #909090;
$color-grey-8: #e8e8e8;
$color-grey-9: #f8f8f8;
$color-grey-10: #606060;
$color-grey-11: #757575;

// font size
$fs-1: 15px; // default
$fs-2: 13px;
$fs-3: 18px; //h4
$fs-4: 36px; //h1
$fs-5: 24px; //h3
$fs-6: 10px;

// font weight
$fw-normal: 400;
$fw-bold: 700;

// padding
$pd-1: 12px;
$pd-2: 100px;
$pd-3: 30px;
$pd-4: 10px;
$pd-5: 60px;
$pd-6: 15px;
// width
$width-1 : 90%;

// break points
$breakpoints: (
    'extra-large':1200px,
    'large':992px,
    'medium': 700px,
    'small': 568px,
)

