.carousel{
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    .carousel__text{
        top:40%;
        text-align: left;
        h2{
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-bottom: $pd-3;
            @include text($color-black-1,$fs-4,$fw-normal);
            span{
                @include text($color-black-1,$fs-3,$fw-normal);
                margin-bottom: $pd-6;
                display: inline-block;
            }
        }
        p{
            @include text($color-grey-1,$fs-1,$fw-normal);
            line-height: 30px;
        }
    }
    .carousel__text3{
        top:40%;
        text-align: left;
        h2{
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-bottom: $pd-3;
            @include text($color-white-1,$fs-4,$fw-normal);
            span{
                @include text($color-white-1,$fs-3,$fw-normal);
                margin-bottom: $pd-6;
                display: inline-block;
            }
        }
        p{
            @include text($color-white-1,$fs-1,$fw-normal);
            line-height: 30px;
        }
    }
    .carousel-indicators{
        bottom: 15%;
        li{
            height: 10px;
            width: 10px;
            border-radius: 50%;
        }
    }

    .carousel-control-prev{
        cursor: url('../img/arrow_left.png'),auto;
        .carousel-control-prev-icon{
            display: none;
        }
    }

    .carousel-control-next{
        cursor: url('../img/arrow_right.png'),auto;
        .carousel-control-next-icon{
            display: none;
        }
    }
}