.myExperience{
    padding: $pd-4 0;
    .content{
        background-image: url('../img/bgSkill.jpg');
        min-height: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .content__left{
            height: 500px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            h3{
                @include text($color-white-1,$fs-5,$fw-normal);
                letter-spacing:  6px;
                display: block;
                align-self: center;
            }
        }
        .content__right{
            height: 500px;
            background-color: rgba(0, 0, 0, .5);
            padding-top: $pd-2;
            padding-left: $pd-5;
            padding-right: $pd-5;
            h4{
                @include text($color-white-1,$fs-3,$fw-normal);
                padding-bottom:$pd-3;
            }
            p{
                @include text($color-white-1,$fs-1,$fw-normal);
            }
           .wapperBar{
               width: 80%;
                .bar{
                    .processBar{
                        height: 20px;
                        width: 100%;
                        background-color: $color-grey-10;
                        position: relative;
                    }
                    // con cua processBar
                    .skillBar{
                        height: 20px;
                        width: 20%;
                        background-color: $color-white-1;
                        position: absolute;
                        top:0;
                        left:0;
                        display: flex;
                        align-items: center;
                        transition: all 1s;
                    }
                    //con cua skillBar
                    .skillText{
                        text-transform: uppercase;
                        @include text($color-black-2,$fs-6,$fw-normal);
                        padding-left: $pd-4;
                    }
                    .numberProcessBar{
                        width: 20%;
                        text-align: right;
                        padding-bottom: 5px;
                        transition: all 1s;
                    }
                    // con cua numnberProcess
                    .skillNumber{
                        background-color: $color-grey-2;
                        position: relative;
                        padding: 4px 8px;
                        border-radius: 10px;
                        @include text($color-black-2,$fs-6,$fw-normal);
                    }
                    //con cua skillNumber
                    .numberProcessBar__footer{
                        height: 5px;
                        width: 5px;
                        background-color: $color-grey-2;
                        position: absolute;
                        bottom:-2px;
                        left:40%;
                        transform: rotate(45deg);
                    }
                }
           }
        }
    }
}