.news{
   .news__wapper{
       padding-left: 0;
       padding-right: 0;
   } 
   .news__item{
       position: relative;
       img{
           width: 100%;
           display: block;
       }
       .news__text{
           position: absolute;
           top:10%;
           left: 0;
           width: 100%;
           height: 100%;
           padding: 10%;
           .item__title{
                @include text($color-white-1,$fs-1,$fw-normal);
                text-transform: uppercase;
            }
            .item__link{
                text-transform: uppercase;
                @include text($color-white-1,$fs-5,$fw-normal);
                padding-bottom: $pd-3;
                display: inline-block;
                &:hover{
                    text-decoration: none;
                }
            }
            .item__detail{
                @include text($color-white-1,$fs-1,$fw-normal);
            }
       }
   }
}