html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Source Sans Pro", sans-serif;
    color: $color-black-6;
    font-size: $fs-1;
    font-weight: $fw-normal;
}
p,h4{
    margin:0;
}